body{
    background: #262525
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.portfolio_container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: aliceblue;
    position: relative;
}
.left_container, .right_container{
    height: 100vh;
    display: flex;
}
.left_container{
    background: #262525;
    width: 70%;
    padding-left: 3rem;
    display: flex;
    align-items: center;

}
.right_container{
    background: #ffcd38;
    width: 30%;
}
.content{
    margin-left: 4rem;
}
.content .intro{
    font-size: 1.5rem;
    color: white;
}
.content .intro span{
    color: #ffcd38;
}
.content h1{
    font-size: 4rem;
    color:  #ffcd38;
    ;
}
.content .details{
    font-size: 1.1rem;
    color: aliceblue;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.butn_container button{
    border: .1rem solid  #ffcd38;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    transition: .5s ease;
}
button:nth-child(1){
    background: #ffcd38;
    color: #262525;
}
button:nth-child(2){
    background:transparent;
    color:#ffcd38;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: #ffcd38;
}
button:nth-child(2):hover{
    background:#ffcd38;
    color: #262525;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg, transparent 50%, #262525 50%);
    width: 34rem;

}
.circle:nth-child(2){
    width: 30rem;
    background-image: url(image/d.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: .5rem solid white;
    box-shadow: 
    0 0 1rem white,
    inset 0 0 1rem white,
    0 0 1rem #ffcd38,
    inset 0 0 1rem #ffcd38,
    0 0 1rem #ffcd38, 
    inset 0 0 1rem #ffcd38;
}
.navlist li a::after{
    content: "";
    position: absolute;
    background: white;
    width:100%;
    height: .1rem;
    left:0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}
.navlist li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* education--------------------------------------------------------------- */
.sub_class{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 220px;
}
.sub_class img{
    width: 100px;
    height: 90px;
    padding: 5px 5px;
    border: 2px solid rgb(251, 251, 250);

}
.sub_class div{
    background-color: #ffcd38;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid rgb(247, 241, 241);
    height: 300px;
    width: 500px;
    transition: 2s;
}
.sub_class{
    background-color:#262525;
}
.sub_class div:hover{
    background-color: rgb(27, 44, 38);
    color: rgb(245, 250, 248);
    border: 4px solid rgb(240, 238, 239);
    padding: 40px;

}
.HEADLINE{
    display: flex;
    justify-content: center;
    color: rgb(13, 24, 33);
    background: #ffcd38;
    border-radius: 100%;
    padding: 10px;
    border: 2px;
    border: 3px solid rgb(240, 238, 239) ;
}
/* achievement--------------------------------------------------- */
.sub_class2{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 100px 50PX;
}
.sub_class2 img{
    width: 400px;
    height: 400px;
    padding: 5px 5px;
    border: 8px solid #ffcd38;
}
.certificate1{
    color: #ffcd38;
}
.HEADLINE1{
    display: flex;
    justify-content: center;
    color: rgb(13, 24, 33);
    background: #ffcd38;
    border-radius: 100%;
    padding: 10px;
    border: 2px;
    border: 3px solid rgb(240, 238, 239) ;
}
.sub_class2 div{
    background-color: #ffcd38;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid rgb(247, 241, 241);
    height: 300px;
    width: 500px;
    transition: 2s;
}
.sub_class2 div:hover{
    background-color: rgb(27, 44, 38);
    color: rgb(245, 250, 248);
    border: 1px solid rgb(240, 238, 239);
    padding: 40px;
}





@media only screen and (max-width:800px){

}